<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Carros =  {{item.nome}}</title>
</head>
<body>

<table id="id" class= "table table-striped">
  <thead>
    <tr>
        <th scope="col">nome</th>
        <th scope="col">valor</th>
        <th scope="col">ano</th>
        <th scope="col">modelo</th>
        <th scope="col">caracteristica</th>
    </tr>
    <thead>
  <tbody>
     <tr>
        <th scope="col">{{item.nome}}</th>
        <th scope="col">{{item.valor}}</th>
        <th scope="col">{{item.ano}}</th>
        <th scope="col">{{item.modelo}}</th>
        <th scope="col">{{item.caracteristicas}}</th>
     </tr>
    </tbody>
</table>

</body>
</html>
